<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Lesson_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT r.name AS region, SUM(o.total_amt_usd) AS total
      FROM orders o
      JOIN accounts a
      ON o.account_id = a.id
      JOIN sales_reps s
      ON a.sales_rep_id = s.id
      JOIN region r
      On r.id=s.region_id
      GROUP BY 1

In [ ]:
SELECT MAX(total)
 FROM
   (SELECT r.name AS region, SUM(o.total_amt_usd) AS total
      FROM orders o
      JOIN accounts a
      ON o.account_id = a.id
      JOIN sales_reps s
      ON a.sales_rep_id = s.id
      JOIN region r
      On r.id=s.region_id
      GROUP BY 1)sub

In [ ]:
SELECT r.name, COUNT(o.total) as total_count
FROM orders o
      JOIN accounts a
      ON o.account_id = a.id
      JOIN sales_reps s
      ON a.sales_rep_id = s.id
      JOIN region r
      On r.id=s.region_id
      GROUP BY 1
HAVING SUM(o.total_amt_usd)=      
(SELECT MAX(total)
 FROM
   (SELECT r.name AS region,               SUM(o.total_amt_usd) AS total
      FROM orders o
      JOIN accounts a
      ON o.account_id = a.id
      JOIN sales_reps s
      ON a.sales_rep_id = s.id
      JOIN region r
      On r.id=s.region_id
      GROUP BY 1)sub);