<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Lesson_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT standard_amt_usd, DATE_TRUNC('year',occurred_at) as year, 
SUM(standard_amt_usd) OVER (PARTITION BY DATE_TRUNC('year',occurred_at) 
ORDER BY occurred_at) as running_total
FROM orders;