<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Lesson_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT a.name, a.id, w.channel, COUNT(w.channel) AS num_times
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
GROUP BY a.id,a.name, w.channel
HAVING COUNT(w.channel)>6 AND w.channel = 'facebook'
ORDER BY num_times;

In [ ]:
SELECT DATE_PART('month',occurred_at) AS max_month, SUM(o.total_amt_usd) AS total
FROM orders o
WHERE occurred_at BETWEEN '2014-01-01' AND '2017-01-01'
GROUP BY DATE_PART('month',occurred_at)
ORDER BY total DESC
LIMIT 1;

In [ ]:
SELECT CASE WHEN total>=2000 THEN 'At least 2000' WHEN total>=1000 AND total<2000 
THEN 'Between 1000 and 2000' ELSE 'Less than 1000' END AS catogery, COUNT(*) AS num
FROM orders
GROUP BY 1;