<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Quiz3_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT COUNT (*) AS web_event_count
FROM web_events;

In [ ]:
SELECT COUNT (*) AS sales_rep_count
FROM sales_reps;

In [ ]:
SELECT COUNT (*) AS region_count
FROM region;

In [ ]:
SELECT SUM(poster_qty)
FROM orders;

In [ ]:
SELECT SUM(standard_qty)
FROM orders;

In [ ]:
SELECT SUM(total_amt_usd)
FROM orders;