<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Quiz3_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT COUNT (*) AS web_event_count
FROM web_events;

In [ ]:
SELECT COUNT (*) AS sales_rep_count
FROM sales_reps;

In [ ]:
SELECT COUNT (*) AS region_count
FROM region;

In [ ]:
SELECT SUM(poster_qty)
FROM orders;

In [ ]:
SELECT SUM(standard_qty)
FROM orders;

In [ ]:
SELECT SUM(total_amt_usd)
FROM orders;

In [ ]:
SELECT standard_amt_usd + gloss_amt_usd AS total
FROM orders;

In [ ]:
SELECT SUM(standard_amt_usd)/SUM(standard_qty) AS amount_per_unit
FROM orders;

In [ ]:
SELECT MIN(occurred_at) AS earliest_date
FROM orders;

In [ ]:
SELECT occurred_at
FROM orders
ORDER BY occurred_at
LIMIT 1;

In [ ]:
SELECT MAX(occurred_at) AS latest_date
FROM web_events;

In [ ]:
SELECT occurred_at
FROM web_events
ORDER BY occurred_at DESC
LIMIT 1;

In [ ]:
SELECT AVG(standard_qty) AS standard_average, AVG(gloss_qty) AS gloss_avg, AVG(poster_qty) AS poster_avg, AVG(standard_amt_usd) AS standard_amt_avg, AVG(gloss_amt_usd) AS gloss_amt_avg, AVG(poster_amt_usd) AS poster_amt_avg
FROM orders;

In [ ]:
SELECT a.name, o.occurred_at
FROM orders o
JOIN accounts a
ON o.account_id = a.id
ORDER BY o.occurred_at
LIMIT 1;

In [ ]:
SELECT a.name, SUM(o.total_amt_usd)
FROM orders o
JOIN accounts a
ON o.account_id = a.id
GROUP BY a.name;

In [ ]:
SELECT w.channel, w.occurred_at, a.name
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
ORDER BY w.occurred_at DESC
LIMIT 1;

In [ ]:
SELECT w.channel, COUNT(channel)
FROM web_events w
GROUP BY w.channel;

In [ ]:
SELECT a.primary_poc
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
ORDER BY w.occurred_at
LIMIT 1;

In [ ]:
SELECT a.name, MIN(o.total_amt_usd) AS minimum_amount
FROM accounts a
JOIN orders o
ON a.id = o.account_id
GROUP BY a.name
ORDER BY minimum_amount;

In [ ]:
SELECT r.name, COUNT(s.name) as sales_reps
FROM region r
JOIN sales_reps s
ON r.id = s.region_id
GROUP BY r.name
ORDER BY sales_reps;

In [ ]:
SELECT a.name, AVG(o.standard_qty) AS mean_standard, AVG(o.gloss_qty) AS mean_gloss, AVG(o.poster_qty) AS mean_poster
FROM orders o
JOIN accounts a
ON o.account_id = a.id
GROUP BY a.name;