<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Quiz1_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Select *
From orders;

In [ ]:
Select id, account_id, occurred_at
From orders;

In [ ]:
SELECT occurred_at, account_id, channel
FROM web_events
LIMIT 15;

In [ ]:
SELECT id, occurred_at, total_amt_usd
FROM orders
ORDER BY occurred_at
LIMIT 10;

In [ ]:
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY total_amt_usd DESC
LIMIT 5;

In [ ]:
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY total_amt_usd
LIMIT 20;

In [ ]:
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY account_id, total_amt_usd DESC;

In [ ]:
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY total_amt_usd DESC, account_id;

In [ ]:
SELECT *
FROM orders
WHERE gloss_amt_usd>=1000
LIMIT 5;

In [ ]:
SELECT *
FROM orders
WHERE total_amt_usd<500
LIMIT 10;

In [ ]:
SELECT name, website, primary_poc
FROM accounts
WHERE name='Exxon Mobil';

In [ ]:
SELECT id, account_id, standard_amt_usd/standard_qty AS unit_price
FROM orders
LIMIT 10;

In [ ]:
SELECT id, account_id, poster_amt_usd/(standard_amt_usd+gloss_amt_usd+poster_amt_usd) AS percentage_revenue
FROM orders
LIMIT 10;

In [ ]:
SELECT name
FROM accounts
WHERE name LIKE 'C%';

In [ ]:
SELECT name
FROM accounts
WHERE name LIKE '%one%';

In [ ]:
SELECT name
FROM accounts
WHERE name LIKE '%s';

In [ ]:
SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name IN ('Walmart', 'Target', 'Nordstrom');

In [ ]:
SELECT *
FROM web_events
WHERE channel IN ('organic', 'adwords')