<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_SQL_Udacity/blob/main/Quiz5_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT RIGHT(website,3) AS website, COUNT(*) AS num_website
FROM accounts
GROUP BY 1
ORDER BY 2;

In [ ]:
SELECT LEFT(UPPER(name), 1) AS letter, COUNT(*) AS num_companies
FROM accounts
GROUP BY 1
Order BY 2;